@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

html {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol,
ul {
  list-style: none; }

body {
  font-family: 'Lato', sans-serif; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

header {
  background-image: url("../img/bac-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.head-menu {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 250px; }
  .head-menu__logo {
    float: left;
    display: inline-block; }
  .head-menu__list {
    float: right;
    display: inline-block;
    margin-top: 0;
    padding-right: 72px; }

.head-menu__list-menu {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  margin-left: 48px; }

.head-menu__list-menu--link {
  color: #ffffff;
  text-decoration: none; }

.head-text {
  margin: 0 auto;
  text-align: center;
  color: #ffffff; }
  .head-text__title {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 43px;
    margin-top: 9px;
    margin-left: 5px; }
  .head-text__line {
    margin: 0 auto;
    width: 82px;
    height: 2px;
    display: block;
    background: #ffffff;
    margin-bottom: 40px;
    background-image: url("../img/head-line.svg"); }
  .head-text__description {
    margin: 0 auto;
    width: 50%;
    line-height: 30px;
    font-size: 22px;
    padding-bottom: 250px; }
  .head-text__button {
    background-image: url("../img/head-butt.svg");
    display: block;
    background-repeat: no-repeat;
    height: 92px;
    width: 92px;
    opacity: 0.5;
    margin: 0 auto;
    padding-bottom: 45px; }

.services {
  width: 100%;
  background-color: #ffffff; }

.section-title {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 103px; }

.section-line {
  margin: 0 auto;
  width: 82px;
  height: 2px;
  display: block;
  margin-bottom: 75px;
  margin-top: 75px;
  background-image: url("../img/line-ser.svg"); }

.services-all {
  display: -ms-flexbox;
  display: flex; }

.services-column {
  text-align: center;
  margin-bottom: 147px; }
  .services-column__img-phone {
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 132px;
    display: block;
    background-image: url("../img/phone.svg");
    margin: 0 auto 42px auto; }
  .services-column__img-desktop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 191.907px;
    height: 148.06px;
    display: block;
    background-image: url("../img/desktop.svg");
    margin: 0 auto 26px auto; }
  .services-column__img-ok {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 116px;
    height: 116px;
    display: block;
    background-image: url("../img/ok.svg");
    margin: 23px auto 35px auto; }
  .services-column__name {
    font-size: 24px; }
  .services-column__description {
    margin: 0 25px;
    font-size: 16px;
    line-height: 30px; }

.dolore {
  width: 100%;
  background-image: url("../img/dolore-bac.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .dolore__all {
    position: relative;
    color: #ffffff; }
  .dolore__text {
    width: 50%;
    padding-top: 160px;
    padding-bottom: 115px; }
  .dolore__text-title {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 7px; }
  .dolore__text-description {
    font-size: 22px;
    line-height: 28px;
    width: 95%;
    font-weight: 300;
    margin-bottom: 61px; }
  .dolore__text-link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: underline; }
  .dolore__img {
    position: absolute;
    right: 98px;
    bottom: -3px; }

.section-work {
  background-color: #ffffff; }

.work {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 420px;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .work__line {
    margin: 0 auto;
    width: 82px;
    height: 2px;
    display: block;
    margin-bottom: 87px;
    margin-top: 71px;
    background: #ffffff;
    background-image: url("../img/line-ser.svg"); }
  .work__simple {
    width: 31.62%;
    height: 100%;
    position: relative; }
    .work__simple:hover .icon-hover {
      display: block; }
  .work__button-one {
    width: 31.62%;
    border: 3px solid #000000;
    height: 60px;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    margin: 80px auto;
    cursor: pointer;
    outline: none; }
    .work__button-one:hover {
      border: 3px solid #000000;
      background: #000000;
      color: #ffffff; }

.planet {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/work-1.png"); }

.fish {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/work-2.png"); }

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/work-3.png"); }

.icon-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  text-align: center; }

.icon-hover a {
  font-size: 22px;
  color: #ffffff;
  line-height: 60px;
  text-transform: uppercase; }

.icon-hover h3 {
  margin-top: 42%;
  margin-bottom: 9,5%; }

.footer {
  background-image: url("../img/bg-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;
  color: #ffffff; }
  .footer__title {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-top: 110px; }
  .footer__social {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 65px; }
  .footer__line {
    margin: 70px auto;
    background: #ffffff;
    width: 82px;
    height: 2px;
    display: block;
    margin-bottom: 70px;
    background-image: url("../img/head-line.svg"); }
  .footer__social-one {
    display: inline-block;
    margin: 0 10px; }
  .footer__form {
    text-align: center; }
  .footer__form-name {
    margin: 0 30px;
    width: 25.6%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #afafaf;
    color: #ffffff;
    font-size: 20px;
    outline: none; }
  .footer__form-mail {
    margin: 0 30px;
    width: 25.6%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #afafaf;
    color: #ffffff;
    font-size: 20px;
    outline: none; }
  .footer__form-text {
    padding-top: 83px;
    width: 56.7%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #afafaf;
    color: #ffffff;
    font-size: 20px;
    outline: none;
    margin-bottom: 51px; }

.tw {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 19.5px;
  background-image: url("../img/tw.svg"); }

.in {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 19.5px;
  background-image: url("../img/in.svg"); }

.fb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 19.5px;
  background-image: url("../img/fb.svg"); }

.vi {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 19.5px;
  background-image: url("../img/vi.svg"); }

.be {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 19.5px;
  background-image: url("../img/be.svg"); }

input::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

input::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

input:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

input:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
  color: #676767;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 18px; }

.footer__form-button {
  width: 185px;
  height: 54px;
  border: 3px solid #ffffff;
  background: transparent;
  color: #ffffff;
  outline: none;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 120px;
  cursor: pointer; }
  .footer__form-button:hover {
    border: 3px solid #ffffff;
    background: #ffffff;
    color: #000000; }
