.section-work {
    background-color: #ffffff;
}

.work {
    display: flex;
    width: 100%;
    height: 420px;
    justify-content: space-between;

    &__line {
        margin: 0 auto;
        width: 82px;
        height: 2px;
        display: block;
        margin-bottom: 87px;
        margin-top: 71px;
        background: #ffffff;
        background-image: url("../img/line-ser.svg");
    }

    &__simple {
        width: 31.62%;
        height: 100%;
        position: relative;

        &:hover .icon-hover {
            display: block;
        }
    }

    &__button-one {
        width: 31.62%;
        border: 3px solid #000000;
        height: 60px;
        background-color: #ffffff;
        text-transform: uppercase;
        font-size: 24px;
        display: block;
        margin: 80px auto;
        cursor: pointer;
        outline: none;

        &:hover {
            border: 3px solid #000000;
            background: #000000;
            color: #ffffff;
        }
    }
}

.planet {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/work-1.png");
}

.fish {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/work-2.png");
}

.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/work-3.png");
}

.icon-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, .5);
    text-align: center;
}

.icon-hover a {
    font-size: 22px;
    color: #ffffff;
    line-height: 60px;
    text-transform: uppercase;
}

.icon-hover h3 {
    margin-top: 42%;
    margin-bottom: 9,5%;
}
